{% extends "admin/change_form.html" %}
{% load i18n admin_modify cms_tags cms_admin %}
{% block title %}{% trans "Change a news item" %}{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL}}cms/js/csrf.js?version=0.7b4"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}?version=0.7b4"></script>

{% if not add %}
<script type="text/javascript" src="{{ STATIC_URL }}cms/js/change_form.js?version=0.7b4"></script>
{% endif %}
<script type="text/javascript" src="{% admin_static_url %}js/urlify.js?version=0.7b4"></script>

{% if add %}
<script type="text/javascript">
//<![CDATA[	
(function($) {
	$(document).ready(function(){
        var title = $('#id_title');
        var slug = $('#id_slug');
        var update = function() {
            var value = title.val();
            if (window.UNIHANDECODER) {
                value = UNIHANDECODER.decode(value);
            }
            slug.val(URLify(value, 64));
        };
        title.keyup(update);
        update();
	});
})(jQuery);
//]]>
</script>
{% endif %}

<style type="text/css">
<!--
.language_button { 
    font-weight:bold;
    margin-bottom:-1px; 
    border-color:#DDDDDD #AAAAAA #CCCCCC #DDDDDD !important; 
    border:1px;  
    background:white url('{% cms_admin_icon_base %}nav-bg.gif') repeat-x center bottom !important;
    }

#lang_tab_content h2.header {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #7CA0C7 url('{% cms_admin_icon_base %}default-bg.gif') top left repeat-x;
    color: white;
}

.notfilled{
    color: #808080 !important;
}
-->
</style>


{% endblock %}

{% block submit_buttons_bottom %}
{% if add %}
	<div class="submit-row"{% if is_popup %} style="overflow: auto;"{% endif %}>
		<input type="submit" name="_save" class="default" value="{% trans 'Save' %}" {{ onclick_attrib }}/>
		<input type="submit" name="_continue" value="{% trans 'Save and continue editing' %}" {{ onclick_attrib }}/>
	</div>
{% else %}
	{% submit_row %}
{% endif %}
{% endblock submit_buttons_bottom %}
